* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*#region Utilities */
:root {
    --team-profilebg: rgba(15, 14, 23, 1);
    --team-mail: rgba(42, 167, 214, 1);
    --team-title: rgba(229, 49, 112, 1);
    --team-text: white;

}

.text-center {
    text-align: center;
}

.white-text {
    color: var(--team-text);
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

/*#endregion Utilities */


/*#region Debug */

.debug {
    height: 200px;
    background-color: red;
}

/*#endregion Debug */

/*#region Content */

body {
    font-family: 'Fredoka', sans-serif;
    background-color: white;
}

h1 {
    color: var(--team-title);
    margin: 2rem 0;
}

p {
    margin: 2rem 0;
}

/*#endregion Content */

/*#region Container */
.container {
    max-width: 1170px;
    margin: auto;
    width: 80%;
}

.col {
    float: left;
    width: calc(90% / 3);
    height: 100px;
    background-color: var(--team-profilebg);
    margin-bottom: 2rem;
    margin-right: 2rem;
    display: flex;
}

.row {}

img {
    max-width: 100%;
}

section {
    max-width: calc(90% / 3);
    margin: 0.5rem;
    max-width: 300px;
    padding: 0.3rem;
}


span{
    
 }

/*#endregion Container */