* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*#region Utilities */
:root {
    --team-profilebg: rgba(15, 14, 23, 1);
    --team-mail: rgba(42, 167, 214, 1);
    --team-title: rgba(229, 49, 112, 1);
    --team-text: white;

}

.text-center {
    text-align: center;
}

.white-text {
    color: var(--team-text);
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

/*#endregion Utilities */


/*#region Debug */

.debug {
   height: 100px;
    background-color: red;
}

/*#endregion Debug */

/*#region Content */

body {
    font-family: 'Fredoka', sans-serif;
    background-color: white;
}

h1 {
    color: var(--team-title);
    margin: 2rem 0;
}

p {
    margin: 2rem 0;
}

/*#endregion Content */

/*#region Container */
.container {
    max-width: 1170px;
    margin: auto;
    width: 80%;
}

.col {
    float: left;
    width: calc(100% / 3);
    padding: 0 0 2rem 2rem;
    
    }

.card{
    background-color: var(--team-profilebg);
    height: 100px;
    box-shadow: grey 0px 0px 5px 1px;
    }

.pics{
    float: left;
}

.row {}


.description {
   width: calc(100% - 100px);
   float: left;
   padding: 1rem;
   }


 a{
    text-decoration: none;
    color: var(--team-mail);
 }

 .profession{
    margin:0.;
 }
/*#endregion Container */